@model Przepisy.Data.Data.CMS.Strona
@{
    ViewData["Title"] = Model.LinkTytul;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero bg-base-200 py-10 rounded-lg">
    <div class="hero-content text-center">
        <div class="max-w-2xl">
            <h1 class="text-5xl font-bold mb-4">@Model.Tytul</h1>
            <p class="text-lg text-gray-500">
                @Model.Tresc
            </p>
        </div>
    </div>
</div>

<h1 class="text-3xl font-bold mt-4 mb-4">Najnowsze przepisy: </h1>

@await Html.PartialAsync("NajnowszePrzepisy", (IEnumerable<Przepisy.Data.Data.Przepisy.Przepis>)ViewBag.ModelPrzepisy)