<!DOCTYPE html>
<html lang="pl" data-theme="forest">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Przepisy.Intranet</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="drawer md:drawer-open">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />

        <div class="drawer-content flex flex-col min-h-screen">
            <!-- hamburger jak mniejsze niz md -->
            <div class="p-4 md:hidden bg-base-200">
                <label for="my-drawer" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
            </div>

            <!-- głowna pole robocze-->
            <main class="flex-1 p-6">
                @RenderBody()
            </main>
        </div>

        <!--menu po boku -->
        <div class="drawer-side bg-base-200">
            <label for="my-drawer" class="drawer-overlay"></label>
            <nav class="w-64 bg-base-200 p-4 h-full">
                <h2 class="text-xl font-bold mt-2 mb-2">Przepisy</h2>
                <h2 class="text-l font-bold mt-4 mb-2">Menu:</h2>
                <ul class="menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li><a asp-area="" asp-controller="Aktualnosc" asp-action="Index">Edytuj aktualności</a></li>
                    <li><a asp-area="" asp-controller="Strona" asp-action="Index">Edytuj strony</a></li>
                    <li><a href="#">Wyloguj</a></li>
                </ul>

                <h2 class="text-l font-bold mb-2">Zarządzanie przepisami:</h2>
                <ul class="menu">
                    <li><a asp-area="" asp-controller="Przepis" asp-action="Index">Przepisy</a></li>
                    <li><a asp-area="" asp-controller="Skladnik" asp-action="Index">Składniki</a></li>
                    <li><a asp-area="" asp-controller="Kuchnia" asp-action="Index">Kuchnie</a></li>
                    <li><a asp-area="" asp-controller="PrzepisSkladnik" asp-action="Index">Przypisane składniki do przepisów</a></li>
                    <li><a asp-area="" asp-controller="GrupaPrzepisu" asp-action="Index">Grupy przepisów</a></li>
                </ul>

                <h2 class="text-l font-bold mb-2">Zarządzanie użytkownikami:</h2>
                <ul class="menu">
                    <li><a asp-area="" asp-controller="Uzytkownik" asp-action="Index">Użytkownicy</a></li>
                    <li><a asp-area="" asp-controller="UlubionyPrzepis" asp-action="Index">Ulubione przepisy</a></li>
                    <li><a asp-area="" asp-controller="Ocena" asp-action="Index">Oceny</a></li>
                    <li><a asp-area="" asp-controller="Recenzja" asp-action="Index">Recenzje</a></li>
                    <li><a asp-area="" asp-controller="Rola" asp-action="Index">Role użytkowników</a></li>
                </ul>


                <h2 class="text-l font-bold mt-6 mb-6">Pozostałe:</h2>
                <ul class="menu">
                    <li><a href="#">Akceptuj przepisy użytkowników</a></li>
                    <li><a href="#">Akceptuj składniki użytkowników</a></li>
                </ul>
            </nav>
        </div>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
