@model Przepisy.Data.Data.Uzytkownicy.Uzytkownik

@{
    ViewData["Title"] = "Edit";
    var nazwaWidoku = "Edycja wpisu";
}

<div class="w-full">

    <div class="hero bg-base-200 pb-3 pt-3 w-full">
        <div class="hero-content text-center">
            <div class="w-full">
                <h1 class="text-5xl font-bold mb-3">@nazwaWidoku</h1>
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-full">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-error text-sm mt-1"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-control mb-4">
                <label asp-for="NazwaUzytkownika" class="control-label"></label>
                <input asp-for="NazwaUzytkownika" class="input input-bordered w-full" />
                <span asp-validation-for="NazwaUzytkownika" class="text-error text-sm mt-1"></span>
            </div>
            <div class="form-control mb-4">
                <label asp-for="Haslo" class="control-label"></label>
                <input asp-for="Haslo" class="input input-bordered w-full" />
                <span asp-validation-for="Haslo" class="text-error text-sm mt-1"></span>
            </div>
            <div class="form-control mb-4">
                <label asp-for="Opis" class="control-label"></label>
                    <textarea asp-for="Opis" class="input textarea w-full"></textarea>
                <span asp-validation-for="Opis" class="text-error text-sm mt-1"></span>
            </div>
            <div class="form-control mb-4">
                <label asp-for="UrlAwataru" class="control-label"></label>
                <input asp-for="UrlAwataru" class="input input-bordered w-full" />
                <span asp-validation-for="UrlAwataru" class="text-error text-sm mt-1"></span>
            </div>
            <div class="form-control mb-4">
                <label asp-for="RolaId" class="control-label"></label>
                <select asp-for="RolaId" class="input input-bordered w-full" asp-items="ViewBag.RolaId"></select>
                <span asp-validation-for="RolaId" class="text-error text-sm mt-1"></span>
            </div>
                <div class="form-control mb-4">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
