@model Przepisy.Data.Data.Uzytkownicy.Uzytkownik

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Uzytkownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NazwaUzytkownika" class="control-label"></label>
                <input asp-for="NazwaUzytkownika" class="form-control" />
                <span asp-validation-for="NazwaUzytkownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haslo" class="control-label"></label>
                <input asp-for="Haslo" class="form-control" />
                <span asp-validation-for="Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlAwataru" class="control-label"></label>
                <input asp-for="UrlAwataru" class="form-control" />
                <span asp-validation-for="UrlAwataru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolaId" class="control-label"></label>
                <select asp-for="RolaId" class="form-control" asp-items="ViewBag.RolaId"></select>
                <span asp-validation-for="RolaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
