@model Przepisy.Data.Data.Przepisy.PrzepisSkladnik

@{
    ViewData["Title"] = "Create";
    var nazwaWidoku = "Nowy wpis";
}

<div class="w-full">

    <div class="hero bg-base-200 pb-3 pt-3 w-full">
        <div class="hero-content text-center">
            <div class="w-full">
                <h1 class="text-5xl font-bold mb-3">@nazwaWidoku</h1>
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-full">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-control mb-4">
                    <label asp-for="PrzepisId" class="control-label"></label>
                    <select asp-for="PrzepisId" class="input input-bordered w-full" asp-items="ViewBag.PrzepisId"></select>
                    <span asp-validation-for="PrzepisId" class="text-error text-sm mt-1"></span>
                </div>
                <div class="form-control mb-4">
                    <label asp-for="SkladnikId" class="control-label"></label>
                    <select asp-for="SkladnikId" class="input input-bordered w-full" asp-items="ViewBag.SkladnikId"></select>
                    <span asp-validation-for="SkladnikId" class="text-error text-sm mt-1"></span>
                </div>
                <div class="form-control mb-4">
                    <label asp-for="IloscGram" class="control-label"></label>
                    <input asp-for="IloscGram" class="input input-bordered w-full" />
                    <span asp-validation-for="IloscGram" class="text-error text-sm mt-1"></span>
                </div>
                <div class="form-control mb-4">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
