@model Przepisy.Data.Data.Przepisy.PrzepisSkladnik

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PrzepisSkladnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrzepisId" class="control-label"></label>
                <select asp-for="PrzepisId" class ="form-control" asp-items="ViewBag.PrzepisId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SkladnikId" class="control-label"></label>
                <select asp-for="SkladnikId" class ="form-control" asp-items="ViewBag.SkladnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IloscGram" class="control-label"></label>
                <input asp-for="IloscGram" class="form-control" />
                <span asp-validation-for="IloscGram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
