@model IEnumerable<Przepisy.Data.Data.Przepisy.Przepis>

<div class="grid gap-6 mt-4 mb-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    @foreach (var item in Model)
    {
        <div class="card bg-base-100 shadow-md">
            <figure class="h-48 overflow-hidden">
                <img src="@item.UrlZdjecia" class="object-cover w-full h-full" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">@item.Tytul</h2>
                <p class="text-sm">@item.KrotkiOpis</p>
                <div class="card-actions justify-end">
                    <a href="@Url.Action("Details", "Przepisy", new { id = item.IdPrzepisu })" class="btn btn-primary btn-sm">Pokaż</a>
                </div>
            </div>
        </div>
    }
</div>



@* W dowolnym .cshtml, np. Index.cshtml, wrzucasz:

@await Html.PartialAsync("_KartaPrzepis", Model)

lub jeśli przekazujesz inną listę:

@await Html.PartialAsync("_KartaPrzepis", ViewBag.NajnowszePrzepisy) *@