@* @using Przepisy.Data.Data
@using Przepisy.Data.Data.CMS
@inject PrzepisyContext _context

@{
    var strony = _context.Strona.OrderBy(s => s.Pozycja).ToList();
}

@foreach (var item in strony)
{
    <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@item.IdStrony">@item.LinkTytul</a></li>
}
 *@

@model IEnumerable<Przepisy.Data.Data.CMS.Strona>

@if (Model != null)
{
    @foreach (var item in Model ?? Enumerable.Empty<Przepisy.Data.Data.CMS.Strona>())
    {
        <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@item.IdStrony">@item.LinkTytul</a></li>
    }
}