@model Przepisy.Data.Data.Przepisy.Kuchnia

@{
    ViewData["Title"] = "Create";
    var nazwaWidoku = "Nowy wpis";
}

<div class="w-full">

    <div class="hero bg-base-200 pb-3 pt-3 w-full">
        <div class="hero-content text-center">
            <div class="w-full">
                <h1 class="text-5xl font-bold mb-3">@nazwaWidoku</h1>
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-full">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
