@import "tailwindcss";
@plugin "daisyui" {
    themes: caramellatte --default;
}
@plugin "daisyui/theme" {
    name: "bronz";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(28% 0.066 53.813);
    --color-base-200: oklch(42% 0.095 57.708);
    --color-base-300: oklch(47% 0.114 61.907);
    --color-base-content: oklch(97% 0.071 103.193);
    --color-primary: oklch(81% 0.117 11.638);
    --color-primary-content: oklch(27% 0.105 12.094);
    --color-secondary: oklch(84% 0.143 164.978);
    --color-secondary-content: oklch(26% 0.051 172.552);
    --color-accent: oklch(87% 0 0);
    --color-accent-content: oklch(14% 0 0);
    --color-neutral: oklch(42% 0.095 57.708);
    --color-neutral-content: oklch(98% 0.026 102.212);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 2rem;
    --radius-field: 0rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}